{% extends 'mi_blog/base.html' %}

{% block contenido %}
<div>
    <pre>
        ¡Hola! Mi nombre es Juan Martín Martos, tengo 18 años y soy el administador de la página de LogoTUtipo.
        Mi pasión por la edición de fotos comenzó hace unos dos o tres años, cuando empecé a trabajar en mis propios proyectos personales. Para ese entonces,
        todavía era muy inexperimentado (se nota por la calidad de las fotos), pero con el paso del tiempo fui adentrándome en esto, tomándomelo más en serio.
        Actualmente, me encanta hacer logotipos para mis futuros proyectos. Me encanta darle una personalidad distinta a cada uno, espero que les guste lo compartido.
        ¡Muchas gracias por visitar la página!
    </pre>
</div>

{% endblock %}